* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #333;
}

p {
	visibility: hidden;
}

@media (min-width: 200px) and (max-width: 400px) {
	body {
		background-color: gold;
	}
}

@media (min-width: 400px) and (max-width: 600px) {
	body {
		background-color: royalblue;
	}
}

@media (min-width: 600px) and (max-width: 800px) {
	body {
		background-color: tomato;
	}
	p {
		visibility: visible;
	}
}
