* {
	background-color: #333;
	color: #fff;
}

body {
	font-family: 'Comfortaa', cursive;
	font-size: 36px;
}

.sample {
	width: 800px;
	border-radius: 25px;
	margin: 0 auto;
	display: block;
}

.pColored {
	color: lime;
}

.spanColored {
	color: tomato;
    text-decoration: underline;
}

