* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #929292;
	font-family: 'Raleway', sans-serif;
}

.nav {
	height: 50px;
	background-color: #333;
	text-align: center;
	line-height: 50px;
	font-size: 0px;
}

.nav-item {
	display: inline-block;
}

.nav-item a {
	padding: 0 50px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 2px;
	transition: color 0.3s ease-in-out;
}

.nav-item a:hover {
	color: #1ec1c7;
}
