* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #e9e9e9;
	font-family: 'Raleway', sans-serif;
}

/* Navigation */

.nav {
	height: 50px;
	background-color: #333;
	text-align: center;
	line-height: 50px;
	font-size: 0px;
}

.nav-item {
	display: inline-block;
}

.nav-item a {
	padding: 0 50px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 2px;
	transition: color 0.3s ease-in-out;
}

.nav-item a:hover {
	color: #7c92d5;
}

/* Header */

.header-img {
	position: relative;
	height: 300px;
	background-image: url('../img/planet-1702788_1920.jpg');
	background-size: cover;
	background-position: 0 50%;
}

.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.header-text h1 {
	margin-bottom: 5px;
	text-transform: uppercase;
	text-shadow: #7c92d5 0px 0px 30px;
	letter-spacing: 3px;
}

.header-text span,
.header-text p {
	color: #7c92d5;
}

.header-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 3, 27, 0.4);
}

/* Main */

main {
	margin: 50px auto;
	width: 1200px;
}

main h2 {
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: #7c92d5 0px 0px 30px;
}

.about-us-box {
	margin: 40px 0;
	position: relative;
	height: 300px;
	background-attachment: fixed;
	background-position: center;
	border-radius: 50px 0 50px 0;
	overflow: hidden;
}

.top {
	background-image: url('../img/coffee-2306471_1920.jpg');
}
.middle {
	background-image: url('../img/desk-1220052_1920.jpg');
}
.bottom {
	background-image: url('../img/office-620822_1920.jpg');
}

.about-us-text {
	position: absolute;
	bottom: 20px;
	padding: 20px 40px;
	text-align: center;
	color: #fff;
}

.about-us-text h3 {
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.about-us-bg {
	position: absolute;
	bottom: 0;
	height: 45%;
	width: 100%;
	background-color: rgba(0, 3, 27, 0.6);
}

.services-list {
	margin: 5px auto;
	width: 300px;
	font-size: 20px;
}

.services-list li {
	margin: 5px 0;
	transition: color 0.2s ease-in-out;
}
.services-list li:hover {
	color: #7c92d5;
}

.contact-info {
	position: relative;
	text-align: center;
	font-size: 24px;
}

.contact-info p {
	transition: color 0.3s ease-in-out;
}

.contact-info p:hover {
	color: #7c92d5;
}

.contact-icon {
	padding: 5px 10px;
}

.prices-box {
	margin: auto;
	padding: 10px;
	text-align: left;
	border: #333 3px solid;
	border-radius: 10px;
}

.prices-box th {
	padding: 10px;
	border-bottom: #7c92d5 3px solid;
	font-size: 20px;
	letter-spacing: 2px;
}

.prices-box td {
	padding: 10px 30px 10px 10px;
}

/* Footer */

footer {
	height: 80px;
	background-color: #333;
	color: #ddd;
	text-align: center;
	line-height: 80px;
	font-size: 20px;
}

.icon-box {
	margin-left: 20px;
}

.icon-box a {
	margin: 0 5px;
	color: #ddd;
	font-size: 30px;
	transition: color 0.3s ease-in-out;
}

.icon-box a:hover {
	color: #7c92d5;
}
