* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	background-color: #333;
}

p {
    display: none;
}

@media (min-width: 400px) and (max-width: 800px) {
	body {
		background-color: gold;
	}
}

@media (min-width: 800px) and (max-width: 1200px) {
	body {
		background-color: royalblue;
	}
}

@media (min-width: 1200px) and (max-width: 1600px) {
	body {
		background-color: tomato;
	}

    p {
        display: inline;
    }
}
