* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #eec0c6;
	height: 100vh;
	background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

.square {
	width: 50%;
	height: 50%;
	margin: 300px auto;
	background-color: royalblue;
	border: 3px solid black;
	border-radius: 25px;
}

/* @media print {
	.square {
		border: 30px solid red;
	}
} */

/* @media (min-width: 500px) and (max-width: 600px) {
	.square {
		background-color: gold;
	}
} */

@media (orientation: landscape) {
	.square {
		background-color: gold;
	}
}
