* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0;
}

body {
	font-family: 'Montserrat', serif;
	color: #fff;
	background-color: #333;
	font-size: 36px;
	text-transform: uppercase;
}

div {
	margin: 0 auto;
	height: 200px;
	width: 600px;
	border: 3px solid black;
}

main {
	position: relative;
	margin-top: 200px;
	background-color: #fff;
}

.red {
	margin-top: 200px;
	background-color: tomato;
}

.blue {
	position: absolute;
	top: 0;
	left: 0;
	/* top: 200px; */
	/* right: 0px; */
	/* margin: 20px auto; */
	background-color: royalblue;
}

.green {
	background-color: greenyellow;
}

.gold {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	width: 120px;
	height: 120px;
	background-color: gold;
}
